<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wear.tsoglanakos.smarthouse">

    <uses-feature android:name="android.hardware.type.watch" />

    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO"/> -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="android.support.multidex.MultiDexApplication"
        android:theme="@android:style/Theme.DeviceDefault">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <activity
            android:name="com.wear.tsoglanakos.smarthouse.MenuActivity"
            android:label="@string/app_name"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.wear.tsoglanakos.smarthouse.SwiftActivity"
            android:label="@string/title_activity_swift"
            android:noHistory="true"
            />
        <activity
            android:name="com.wear.tsoglanakos.smarthouse.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wear.tsoglanakos.smarthouse.History"
            android:label="@string/title_activity_history"></activity>
    </application>

</manifest>
